    
			<div class="row bottom">
                <div class="col-lg-8 col-md-8 col-sm-7 col-left">
                    <div>
                        <section>
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    
                                    <!--activity image-->
<!--                                     <img class="img-responsive" src="/assets/images/image-home-2.jpg" alt="Project header"> -->
									<%= image_tag("image-home-2.jpg", :alt => "Project header", :class => "img-responsive") %>
                                    
                                    <!--activity title -->
                                    <h1>Graduate student in Texas A&M University</h1>
                                    <h1 class="spacer">___</h1>
                                    
                                    <!--activity descritpion-->
                                    <p class="work">Seeking full-time position in software development</p>
                                    <p>This is the personal website integrated with several applications I developed.</p>
                                
                                </div>
                            </div>   
                        </section>
                    </div>
                </div>
                


            </div>                        
  
